<body>

<h1>Whatsapp status monitor</h1>
<a id="btn" type="button" href="#">Einschalten</a>

<script type="text/javascript">
    var enabled = false;
    var text = {enable: "Einschalten", disable: "Ausschalten"};
    document.getElementById("btn").innerHTML = text.enable;
    document.getElementById("btn").onclick(
        function (elem) {
            if(enabled){
                elem.innerHTML = text.disable;
            }else{
                elem.innerHTML = text.enable;
            }
            enabled = !enabled;
        }
    )
</script>

</body>