.infinite-list-item.infinite-list-item-transition.myHackyListItem {

  position: static!important;

  img {
    border-radius: 50%;

    &.isOnline {
      border: #09d261 4px solid;
      width: 41px;
      height: 41px;
    }

    &.isOffline {
      border: none;
      width: 49px;
      height: 49px;
    }
  }
}
