.infinite-list-item.infinite-list-item-transition.myHackyListItem {
  position: static !important; }
  .infinite-list-item.infinite-list-item-transition.myHackyListItem img {
    border-radius: 50%; }
    .infinite-list-item.infinite-list-item-transition.myHackyListItem img.isOnline {
      border: #09d261 4px solid;
      width: 41px;
      height: 41px; }
    .infinite-list-item.infinite-list-item-transition.myHackyListItem img.isOffline {
      border: none;
      width: 49px;
      height: 49px; }

/*# sourceMappingURL=main.css.map */
